-f https://download.pytorch.org/whl/torch_stable.html

pandas
streamlit
spacy
en_core_web_sm
torchvision==0.9.1+cpu
transformers
sentencepiece
googletrans==3.1.0a0
pyvespa


python spacy download en_core_web_sm
