-f https://download.pytorch.org/whl/torch_stable.html
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
pandas
streamlit
spacy
torch==1.8.1+cpu
torchvision==0.9.1+cpu
transformers
sentencepiece
googletrans==3.1.0a0
pyvespa
